celluloid==0.2.0
dict-hash==1.1.14
gensim==3.8.3
graphviz==0.15
grip==4.5.2
ipywidgets==7.5.1
jupyterlab==2.2.9
lightgbm==3.0.0
line-profiler==3.1.0
matplotlib==3.3.2
numpy==1.19.3
pandas==1.1.4
patsy==0.5.1
plotly==4.12.0
pyarrow==2.0.0
PyYAML==5.3.1
scipy==1.5.3
seaborn==0.11.0
simplejson==3.17.2
sklearn==0.0
statsmodels==0.12.1
tqdm==4.51.0
